name: Code Check
on:
  push:
    branches-ignore:
      - "main"

jobs:
  build-check-feature:
    name: Build Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set env variables
        id: env
        run: | 
          echo "REACT_APP_TIMESTAMP=$(date -u --rfc-3339=seconds | sed 's/ /T/')" >> $GITHUB_ENV
          echo "REACT_APP_GITHUB_SHA=${{ github.sha }}" >> $GITHUB_ENV
          echo "REACT_APP_BRANCH_NAME=${{ steps.extract_branch.outputs.branch }}" >> $GITHUB_ENV
          echo "REACT_APP_VERSION=${{ steps.package-version.outputs.current-version }}" >> $GITHUB_ENV
          echo "##[set-output name=NVMRC;]$(cat .nvmrc)"

      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: "${{ steps.env.outputs.NVMRC }}"

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache dependencies
        uses: actions/cache@v4
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn --network-timeout 1000000

      - name: Lint
        run: yarn lint

      - name: Build functions
        run: yarn build
        working-directory: functions

      - name: Build
        run: yarn build
